.initFui {
}

.fui-grid {
}

.fui-dropdown {
}

.fui-check {
}

.fui-radio {
    padding: 6px 12px;
    height: 34px;
}

.fui-button {
}

.hand {
    cursor: pointer;
}

.separate-line {
    border-top: 1px solid #dddddd;
}

.grid-search-panel {
    margin: 0 0 5px 0;
}

.grid-search-body {
    padding: 5px 15px 5px 15px
}

.grid-search-group {
    margin-left: 15px;
    margin-top: 10px;
    height: 34px;
}

.grid-search-input {
    width: 180px;
}

.grid-search-label {
    width: 85px;
    float: left;
}

.grid-search-group label {
    margin-top: 7px;
}

.grid-search-btn {
    min-width: 85px;
    margin: 3px 8px;
    font-size: 13px;
    padding: 4px 8px;
}

.grid-bottom {
    background-color: #FFFFFF;
}

.grid-table {
    width: 100%;
    margin-bottom: 5px;
    table-layout: fixed;
}

.grid-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fui-grid .noDataBox {
    min-height: 110px;
}

.grid-table tr {
    height: 32px;
}

.grid-thead {
    background-color: #666699;
    color: #FFFFFF;
}

.grid-operate-btn {
    padding: 0 10px;
}

.grid-pager-toolbar {
    margin-bottom: 3px;
}

.grid-pager-toolbar-nav {
    margin: 0;
}

.grid-pager-toolbar-jump {
    width: 138px;
}

.grid-pager-toolbar-btn {
    color: #337ab7
}

.grid-search-btn-group {
    text-align: center;
}

.grid-search-btn-group .dropup {
    padding-bottom: 4px;
    color: #337ab7;
}

.grid-search-group .btn-sm {
    margin-top: 2px;
}

.grid-search-group .panel {
    height: 34px;
    width: 179px;
    border-color: #ccc;
}

.grid-search-group .panel-body {
    padding: 0;
    margin: 0;
}

.grid-search-btn-group table {
    width: 100%;
}

.grid-search-btn-group tr {
    height: 30px;
}

.grid-search-sf .glyphicon {
    color: #666;
}

.grid-pager-toolbar-jump .form-control {
    width: 85px;
}

.grid-count {
    width: 100%;
    text-align: right;
    margin-bottom: -13px;
    padding: 0;
    color: #888
}

.grid-noData {
    min-height: 200px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding-top: 90px;
}

.confirm-model-box {
    width: 450px;
    height: 180px;
}

.confirm-model-box .modal-header {
    padding: 10px;
}

.modal-header .glyphicon {
    font-size: 16px;
    top: 2px;
}

.confirm-model-box .modal-footer {
    padding: 10px;
}

.confirm-model-box .modal-body div {
    min-height: 35px;
    font-size: 14px;
}

.confirm-model-box .modal-title {
    font-size: 16px;
}

.openModel {

}

.openModel .modal-header .glyphicon-edit {
    font-size: 16px;
}

.openModel .modal-header .modal-title {
    font-weight: bold;
    font-size: 15px;
}

.openModel .modal-header .row .col-md-1 {
    padding: 0;
    text-align: center;
}

.openModel .modal-header .row .col-md-18 {
    padding: 0;
}

.openModel .modal-header .row .col-md-18 div {
    margin-top: -1px;
}

.openModel .modal-footer span {
    margin-right: 10px;
}

.modal-header .glyphicon span {
    font-size: 16px;
}

.fui-dropdown .dropdown-toggle {
    width: 100%;
}

.fui-dropdown .dropdown-toggle {
    width: 100%;
    padding-right: 17px;
}

.fui-radio label {
    font-weight: normal;
    margin-right: 10px;
}

.fui-radio span {
    margin-left: 7px;
}
